$primary-color: #35A696;
$secondary-color: #ffffff;
$black-color: #000000;
$transition-duration: 0.3s;
$transition: color $transition-duration, background $transition-duration;
$primary-font: 'helvetica';
$primary-font--n: 'helvetica-n';
$secondary-font: 'harmattan';
$mobile: 767px;
$medium: 991px;
$laptop: 1366px;
$maxresolution: 2560px;

@font-face {
  font-family: 'helvetica';
  src: url("../font/Helvetica.woff");
  font-weight: normal;
}

@font-face {
  font-family: 'helvetica';
  font-weight: bold;
  src: url("../font/Helvetica\ Bold.woff");
}

@font-face {
  font-family: 'helvetica-n';
  font-weight: bold;
  src: url("../font/Helvetica-Neue-Condensed-Bold.woff");
}

@font-face {
  font-family: 'harmattan';
  src: url("../font/Harmattan-Regular.woff");
}

body {
    color: $black-color;
    font-size: 18px;
    font-family: $primary-font;
    line-height: 1.3;
}

@media(min-width: 1200px) {

  .container {
    max-width: 1150px;
  }

}

@media(max-width: $mobile) {

  $containerGap: 45px;

  .container,
  .row > div {
    padding-left: $containerGap;
    padding-right: $containerGap;
  }

  .row {
    margin-left: -$containerGap;
    margin-right: -$containerGap;
  }

  $containerGap: 30px;

  .header .container,
  .header .row > div,
  .footer .container,
  .footer .row > div {
    padding-left: $containerGap;
    padding-right: $containerGap;
  }

  .header .row,
  .footer .row {
    margin-left: -$containerGap;
    margin-right: -$containerGap;
  }

}

a {
    transition: $transition;
    &:hover {
        text-decoration: none;
    }
}

img {
  max-width: 100%;
}

%ul-reset {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
